%bubble-before-after{
  content:'';
  position:absolute;
  top:14px;
  border:6px solid transparent;
}

@mixin bubble($background, $hover:false){
  position:relative;
  max-width:$bubble-max-width;
  padding: 8px;
  display:inline-block;
  background:$bubble-background;
  border-radius:$border-radius-base;
  text-align:left;

  pre{
    margin:0;
    word-wrap: break-word;
    word-break: break-all;
    font-family:inherit;

    .audio-message{
      min-width: 150px;
      cursor: pointer;

      .audio-length{
         position:absolute;
         right: 5px;
      }
    }
    img{vertical-align: middle;}
  }

  @if($hover){
    &:hover{
      background:$background;
      color:$light-base;

      &.left:before{
        border-right-color:$background;
      }
      &.right:before{
        border-left-color:$background;
      }
      .icon-reload{
        color:$gray-base;
      }

    }
  }

  &.left{
    background:$background;
    color:$light-base;
  }
  &.right:before{
    border-left-color:$background;
  }
  .icon-readed{
    position: absolute;
    right: 0;
    bottom: -20px;
    color: $green-base;
  }
  .icon-reload{
    color:$gray-base;
    right:100%;
    margin-right:10px;
  }
  .icon-star{
    color:$gray-dark;
    left:100%;
    margin-left:10px;
    cursor: pointer;

    &.added{
      color: $orange-base;
    }
  }

  .icon-loading{
    position: absolute;
    left: -20px;
    bottom: 30%;
    animation: rotate 1s linear 0s infinite;
  }

  &:before{
    @extend %bubble-before-after;
  }


  @warn $background;
  @each $direction in $bubble-direction-list{
    @if($direction == 'left'){
      $n-direction : 'right';
      $n-background:$background;
    }@else{
      $n-direction : 'left';
      $n-background:$gray-light;
    }
    @warn $n-background;
    &.#{$direction}:before{
      #{$n-direction}:100%;
      border-#{$n-direction}-color: $n-background;
      border-#{$n-direction}-width: 4px;
    }
  }

  .icon-reload, .icon-star{
    position:absolute;

    top:50%;
    margin-top:ceil(-$bubble-icon-loading-width/2);

    width:$bubble-icon-loading-width;
    line-height:$bubble-icon-loading-width;
    text-align:center;
    font-size:$bubble-icon-loading-width;
  }
}