//旋转 rotate
@keyframes rotate {
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(-360deg);
  }
}
.animate-rotate{
  transform-origin:50%;
  animation:rotate 1s linear 0s infinite;
}

@-webkit-keyframes jconfirm-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

