// approval area

.approval-area{
  @extend %half-detail-area;
}
.approval-title{
  @extend %detail-area-title;
}

.approval-title-item{
  display:inline-block;
  position:relative;
  padding:0 42px;
  line-height:1;
  span{
    font-size:18px;

  }
  .circle-tip{
    position:absolute;top:-5px;right:28px;
  }
  &.active{
    color:$blue-base;
  }

  & + .approval-title-item{
    border-left:1px solid $gray-dark;
  }
}

.approval-search{
  float:right;
  margin-right:25px;
  @extend %icon-search;
}

// .approval-body
.approval-body{
  padding-left:20px;
  padding-right: 20px;//helen
  height:750px;
  overflow:auto;
  margin-top:20px;//tyrion
}

.approval-handle-title{
  text-align:center;
}
.approval-handle-title-item{
  float:left;
  width:50%;
  padding: 21px 0;
 // border-bottom: 2px solid $gray-light;
  border-bottom: 2px solid $light-base;
  cursor:pointer;
  position: relative;
  font-size: 16px;

  &.active,
  &:hover{
    border-bottom-color: $blue-base;
  }
}

.choose-people-title-item{
  @extend .approval-handle-title-item;
  padding: 5px 0;
  border-color: $gray-light;
  font-size: 14px;
}

.approval-list{
  padding-top:10px;


}

.approval-item{
  @extend %thread-item;
  padding:13px 0px 11px 23px;
  position:relative;
  border-bottom:1px dashed $gray-light;


}
.approval-item.unread{
  &:before{
    content: '';
    position:absolute;
    left:0px;top:14px;
    background:$red-base;
    border-radius:50%;
    width:10px;height:10px;
  }
}



.approval-item-avator{
  //@extend %avator;
}
.approval-item-info{
  @extend %thread-item-info;
}
.approval-item-func{
  @extend %thread-item-func;
}
.approval-item-comment{
  position:relative;

  &.comment-tip{
    &:after{
      content: '';
      background:$red-base;
      position:absolute;
      width:6px;
      height:6px;
      border-radius:50%;
      right:-3px;
      top:-2px;
    }
  }
}

.approval-footer{
  width:100%;
  position:absolute;
  bottom:0;
}
.approval-footer-item{
  width:33.333%;
  text-align:center;
  float:left;
  font-size:14px;
  padding:8px 0;
  border-top:1px solid $gray-light;
  &:not(:first-child){
    margin-left:-1px;
  }
  &:not(:last-child){
    border-right:1px solid $gray-light;
  }
  i{
    font-size:20px;
    margin-right:10px;
    vertical-align:middle;
  }
}

//--------------新增(审批头部样式)---------
.approval-handle-title-wrapper{
  width: 75%;
}
.approval-handle-title-icon{
  margin-right: 15px;
}

.handle-title-circle{
  position: absolute;top: 6px;right: 42px;
}

.handle-title-search-icon{
  position: absolute;right: 0;top: 19px;
  color: $gray-dark;
}
.handle-title-plus-icon{
  position: absolute;right: 45px;top: 14px;font-size:33px;
  color: $gray-dark;
}

.approval-title-left{
  text-align: right;width: 50%;box-sizing: border-box;
  span{font-size: 14px;}
 }

.approval-title-right{
  text-align: left;width: 50%;box-sizing: border-box;
  span{font-size: 14px;}
}
//---------------审批(内容部分显示和隐藏)------------
.approvalreceive{
    display:none;
}
.approvalissue{
    display:none;
}
.showapproval{
    display:block;
}
.approval-box-body{
    font-size: 14px;
    padding: 0px 18px;
    height:850px;
    overflow:auto;
     margin-top:20px;
}
//------------------审批(搜索部分)------------------
.search-approval-list{
    height:800px;
    overflow:auto;
   margin-top:20px;
}
//滚动条样式
.search-approval-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.search-approval-list::-webkit-scrollbar-thumb {
    background-color: rgba(52, 58, 69, 0.1);
    border-radius: 3px;
}
.approval-box-body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.approval-box-body::-webkit-scrollbar-thumb {
    background-color: rgba(52, 58, 69, 0.1);
    border-radius: 3px;
}
.approval-body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.approval-body::-webkit-scrollbar-thumb {
    background-color: rgba(52, 58, 69, 0.1);
    border-radius: 3px;
}
//删除审批的弹出层
.delapprove{
    text-align:center;
}
//审批人头像
.chat-room-member-small{
    margin-bottom:10px !important;
}
//时间过长
.task-detail-main1{
  width:60%;
  display: inline-block;
  vertical-align: middle;
}
