// .btn-gruop

.btn-group{
  display:inline-block;
  >.btn{
    float:left;
  }
  >.btn:first-child:not(:last-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  >.btn:last-child:not(:first-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  >.btn:first-child {
    margin-left: 0;
  }
  .btn+.btn{
    margin-left:-1px;
  }


}
