//页面中部显示审批、任务、和日程消息样式

.chat-area-bubble {
  background-color: white;
  border: 1px solid $gray-light;
  width: 320px;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.chat-area-bubble-header {
  @extend %ellipsis;
  padding: 5px 15px;
  border-bottom: 1px solid $gray-light;
  font-size: 14px;
  position: relative;
}

.chat-area-bubble-body {
  padding: 10px 15px;
  font-size: 12px;
  .calendar-detail-line {
    width: 100%;
  }
}


.inner-box {
  font-size: 12px;
  //    width: 320px;
  border: 1px solid $gray-lighter;
  border-top: 1px solid $gray-light;
  border-radius: 0;
  background-color: $gray-lighter;
  padding: 10px 15px;

  overflow: hidden;
  .important {
    color: $red-base;
  }

  .btn-group {
    span {
      margin-left: 5px;
      cursor: pointer;
    }
    .btn-attend {
      margin: 0 35px;
      &:last-child {
        margin: 0
      }
    }
  }
}


.message-bubble {
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
  .inner-box {
    padding: 0 30px;
    display: inline-block;
    background-color: $gray-light;
    border-radius: 5px;
    border: none;
    span {
      margin: 0 2px;
    }
  }

  .person {
    color: $gray-darker;
  }
  .click {  //click是放上去有手型
    color: $gray-darker;
    cursor: pointer;
  }
}

.chat-area-footer-btn {
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-top: 1px solid #e3e7ea;
  width: 100%;
  background-color: $light-base;
  i {
    margin-right: 10px;
    display: inline-block;
  }
  a {
    background-color: $light-base;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 0;
    border-right: 1px solid #e3e7ea;
    cursor: pointer;
    &:last-child {
      border-right: 0;
    }
  }
}

.chat-area-unread{
  position: relative;
  &:before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: $red-base;
    position: absolute;
    border-radius: 50%;
    right: -15px;
  }
}