

//chat-send
.chat-send{
  height: $chat-send-height;
  border-top:1px solid $gray-light;
  background:$light-base;
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
}

.chat-send-toolbar{
  padding:10px 17px;
  color:$gray-dark;
  position: relative;
  i{
    display:inline-block;
    line-height:26px;
    width:32px;
    text-align:center;
    font-size:16px;

  }
  .toolbar{

    cursor:pointer;
    &.active, &:hover{
      color:$blue-base;
    }

  }
}

.chat-send-toolbar-records{
  float:right;
  margin-right:8px;
  i{
    width:29px;
  }
  //span{
  //  vertical-align: 2px;
  //}
}

.edui-container{
  margin:0;
  padding: 0 24px;
  height: 70px;
}

.edui-body-container img.emoji{
  width: 18px;
  height: 18px;
}

.chat-send-action{
  padding: 10px 24px 0;
  text-align:right;

  .chat-send-action-tip{
    color:$gray-dark;
    font-size:$font-size-small;
    margin-right:8px;
  }
}

@import "c_chat_face_panel";