

.input-whole-width {
  width: 100%;
}

.pointer{cursor: pointer;}

.pull-left {
  float: left;
  float: left;
}

.pull-right {
  float: right;
}

.new-meeting-box {
  //最外层的盒子
  position: relative;

  //min-height: 800px;
  height: 100%;
  background-color: $light-base;
  box-shadow: 0 0 40px $gray-dark;
}

%box-header {
  padding: 26px 20px;
  line-height: 1;
  font-size: large;
  border-bottom: 1px solid $input-border-color;
}

.meeting-box-header {
  //最外层的盒子头部
  @extend %box-header;
  i {
    float: right;
    color: $gray-dark;
    cursor: pointer;
  }
}

.meeting-box-body {
  //最外层的盒子身体
  font-size: 14px;
  padding: 23px 18px;
  input {
    //width: 100%;
    box-sizing: border-box;
  }
  input[type='checkbox']{width: 13px;}
  p.meeting-detail-topic {
    margin: 20px 0;
  }
  //input有padding，宽度怎么算？
  select {
    width: 48%;
    padding: 8px 10px;
    margin: 17px 0 0;
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 17px;
  }
}

.attend-person-group {
  border-bottom: 1px solid $gray-light;
  //  padding: 0 17px;
}

.meeting-line {
  padding: 17px 0px;
}

.attend-meeting-detail {
  //会议时间以及地点详情
  display: inline-block;
  vertical-align: middle;
  width:75%;
//  line-height: 2.8;
  i {
    color: $gray-dark;
    font-size: 18px;
    margin-right: 8px;
    //    vertical-align: middle;
  }
  .time {
    color: $gray-dark;
    font-size: 12px;
    margin-left: 5px;
  }
}

.meeting-detail-line {
  margin-bottom: 10px;
  @extend %ellipsis;
  &:last-child {
    margin-bottom: 0;
  }
  span.title {
    color: $blue-base;
    margin-right: 8px;
  }
}

.line-detail-group {
  display: inline-block;
  margin-right: 20px;
  i {
    font-size: 12px;
    display: inline-block;
    margin-right: 0;
    color: $gray-dark;
    vertical-align: middle;
    margin-right: 3px;
  }
  span {
    font-size: 12px;
  }
  %tangle{
    width: 10px;height: 10px;vertical-align: inherit;
  }
  .low-state{@extend %tangle;background-color: $light-base;}
  .middle-state{@extend %tangle;background-color: $orange-base;}
  .high-state{@extend %tangle;background-color: $red-base;}
}

.line-detail-group.pull-right {
  margin-right: 0;
}

.attend-title {
  //出席人员title，因为要将title与右侧图片垂直居中
  display: inline-block;
  width: 25%;
  vertical-align: super;
//  line-height: 2.8;
}

.meeting-title {
  //会议时间地点title
  display: inline-block;
  width: 30%;
}

.attend-detail {
  text-align: center;
  color: #0099ff;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin-left: 33px;
  cursor: pointer;
}

.attend-person-line {
  padding-top: 17px;
  //  & div:last-child{border-bottom: 0;}
  &:last-child .attend-meeting-avator {
    border-bottom: none;
  }
  .attend-meeting-avator {
    display: inline-block;
    vertical-align: middle;
    width: 69%;
    border-bottom: 1px dashed $gray-light;
    padding-bottom: 8px;

    //    &:last-child{
    //      border-bottom:none;
    //    }
  }

}

.meeting-box-footer {
  //最外层盒子的脚部
  border-top: 1px solid $input-border-color;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $light-base;
  %footer-btn {
    display: inline-block;
    right: 0;
    float: right;
    padding: 10px 35px;
  }

  .btn-comfirm {
    @extend %footer-btn;
    background-color: $blue-base;
    color: $light-base;
    cursor: pointer;
    &:hover {
      background: rgba($blue-base, 0.8);
      //      color:$hover-color;
      border-color: rgba($blue-base, 0.1);
    }
  }

  .btn-cancle {
    @extend %footer-btn;
    cursor: pointer;
  }
}

//-----------------新建事件样式------------------
//带图标的input
.event-input-group {
  margin-top: 17px;
  display: flex;
  input {
    width: 100%;
  }
  &:hover .input-group-event-addon {border-color: $gray-darker;}
  &:hover .input-group-event-addon i{color: $gray-darker;}
  &:hover .form-c{border-color: $gray-darker;}
}

.event-input {
  display: inline;
  vertical-align: middle;
  float: left;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}

.input-group-event-addon {
  padding: 5px 10px;
  border: 1px solid $input-border-color;
  border-radius: 0px 5px 5px 0px;
  i {
    color: $gray-dark;
  }
}

.new-event-place {
  width: 76%;
  display: inline-block;
}

.new-event-switch {
  display: inline-block;
  width: 24%;
  float: left;
  margin-top: 17px;
   button span {
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    margin-left: 20px;
  }
  i.icon-toggle-on {
    vertical-align: -webkit-baseline-middle;
    font-size: 36px;
    color: $red-base;
  }
  i.icon-toggle-off {
    vertical-align: -webkit-baseline-middle;
    font-size: 36px;
    color: $gray-dark;
  }
  button {
    width: 80%;
    float: right;
    cursor: pointer;
    padding: 0;
  }
  .icon-add {
    font-size: 20px;
    color: $gray-base;
    margin-right: 1px;
    vertical-align: middle;
  }
  .btn-text {
    margin: 0px;
    line-height: 1;
    vertical-align: middle;
  }
}

//选择时间标题
.new-event-choose-time {
  clear: both;
  margin: 25px auto;
  width: 100%;
  height: 1px;
  text-align: left;
  border-bottom: 1px solid $gray-light;

  .subtask-span {
    cursor: pointer;
    color: $gray-dark;
    font-size: 12px;
    background-color: $light-base;
    position: relative;
    top: -12px;
    padding-right: 20px;
  }
  span.pull-right {
    color: $gray-base;
    padding-left: 10px;
    padding-right: 0px;
    top: -9px;
  }
  i {
    cursor: pointer;
    color: $gray-dark;
    background-color: $light-base;
    position: relative;
    top: -5px;
    padding-left: 20px;
    color: $gray-base;
  }
}

.new-event-time-title {
  display: inline-block;
  width: 8%;
  vertical-align: top;
  margin-top: 5px;
}

.new-event-time-group {
  display: inline-block;
  width: 91%;
  padding-bottom: 10px;
}

.new-event-time-line {
  margin-bottom: 17px;
  position: relative;
  //  i{font-size: 36px;color: $gray-light;}
  .new-event-time-line-header {
    display: inline-block;
    width: 20%;
  }
  i.new-event-time-line-header {
    font-size: 36px;
    color: $gray-dark;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
  }
  i.icon-toggle-on {
    color: $blue-base;
//    margin-top: -32px;
  }
  i.icon-gap{margin-top: -32px;}

  .emergency {
    color: $red-base !important;
  }
  span.new-event-time-line-header {
    color: $gray-dark;
  }
}
span.span-gap{
  position: relative;
  top: -15px;
  text-align: center;}

.input-group-wrapper {
  display: inline-block;
  width: 72%;
  .input-group {
    margin: 0;
  }
  .input-group.half-group{
    width: 50%;
    float: left;
    &:first-child .form-c{border-radius: 5px 0 0 5px;border-right: 0;}
    &:last-child .form-c{border-radius:  0 5px 5px 0;}
  }
  %new-event-btn {
    position: absolute;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    top: 10px;
  }
  .btn-add {
    color: $blue-base;
    @extend %new-event-btn;
  }
  .btn-del {
    color: $red-base;
    @extend %new-event-btn;
  }
  .left-input{border-radius: 0;border-right: 0;}
  .right-avantor{border-radius: 0;}
}

.new-meeting-affix{
  font-size: 12px;
  position: relative;
  margin-bottom: 20px;
  & >span{cursor: pointer;&:hover{color: $blue-base;}}
  i{color: $gray-dark;float: right;vertical-align: middle;line-height: 1.8;margin-left: 23px;}
  i.icon-glyph-194{
    &:hover{color: $red-base;cursor: pointer;}
  }
  .affix-rate{color: $blue-base;float: right;}
}

.affix-download{cursor: pointer;&:hover{color: $blue-base;}}
.dash-line{&:before{position: absolute;content: "";height: 1px;width: 100%; border-bottom: 1px dashed $gray-dark;bottom: -10px;}}
.rate-line{position: absolute;content: "";height: 1px;width: 100%; border-bottom: 1px solid $blue-base;bottom: -10px;}
//-----------------会议详情样式-------------------
.meeting-detail-header {
  @extend %box-header;
  i {
    cursor: pointer;
    color: $gray-dark;
    margin: 0 10px;
  }
  i.icon-glyph-71 {
    color: $blue-base;
  }
}

.meeting-detail-title {
  font-size: 24px;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-light;
  .title{font-size: 24px;line-height: 1;width: 88%;display: inline-block;@extend %ellipsis;}
  span {
    font-size: 14px;
    line-height: 1.8;
  }
  %circle {
    @extend %circle-tip;
    padding: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 7px;
  }
  .circle-low{
    @extend %circle;
    background-color: $light-base;
  }
  .circle-middle{
    @extend %circle;
    background-color: $orange-base;
  }
  .circle-heigh{
    @extend %circle;
    background-color: $red-base;
  }
}

.meeting-detail-group {

  i.icon-glyph-89 {
    margin-right: 10px;
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
  }
  @extend .attend-meeting-detail;
  margin-top: 20px;
  width: 100%;
  //  i{color: $red-base;}
  .meeting-detail-line {
    @extend .meeting-detail-line;
    width: 60%;
    display: inline-block;
  }
  .repeat-line {
    display: inline-block;
    width: 20%;
    float: right;
  }

  .task-item{&:hover{color: $blue-base;}}
  .active{color: $blue-base !important;}
}

.meeting-place-detail-line {
  border-bottom: 1px solid $gray-light;
  padding-bottom: 10px;
  i {
    font-size: 24px;
    cursor: pointer;
    vertical-align:middle;
  }
}

.chat-room-member i {
  color: $green-base;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.chat-room-member.inactive {
  opacity: 0.3;
}

.attend-meeting-btn-group {
  width: 265px;
  margin: 20px auto;
  a {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.meeting-detail-footer-btn {
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-top: 1px solid $gray-light;
  width: 100%;
  >a {
    //    color: $gray-light;
    width: 32%;
    display: inline-block;
    padding: 10px 0;
    border-right: 1px solid $gray-light;
    cursor: pointer;
    position:relative;
    &:last-child {
      border: none;
    }
  }
}

//---------------内部会议详情----------------
.meeting-chat-group {
  .meeting-chat-line {
    &:first-child{margin-top: 10px;}
  }
  .meeting-chat-menber {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    @extend %ellipsis;
  }
  .meeting-chat-detail {
    display: inline-block;;
    width: 67%;
    position: relative;
    font-size: 12px;
    vertical-align: top;
    i {
      color: $gray-dark;
    }
    i.icon-glyph-118{margin-right: 5px;}
    .rate-num{color: $blue-base;}
  }
  .affix-rate{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0099ff;
    position: absolute;
    top: 25px;
  }
  .affix-tips{
    display: inline-block;
    float: right;
    i{margin-left: 5px;}
  }
  .meeting-chat-time {
    font-size: 12px;
    width: 18%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: $gray-dark;
  }
  .meeting-affix-time {
    font-size: 12px;
    width: 11%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: $gray-dark;
  }
}



.comment-input {
  display: inline;
  vertical-align: middle;
  float: left;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  width: 100%;
  border-right: 0;
  width: 350px !important;
}

.input-submit-btm {
  padding: 10px 30px;
//  line-height: 1;
  border: 1px solid $gray-light;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  background-color: $gray-lighter;
  span {
    white-space: nowrap;
  }
}

.meeting-group-wrapper {
  position: absolute;
  bottom: 40px;
  width: 93%;//评论输入框
}

.input-group {
  display: flex;
  vertical-align: middle;
  margin: 30px 0;
  &:hover .input-group-addon {border-color: $gray-darker;}
  &:hover .input-group-addon i{color: $gray-darker;}
  &:hover .form-c{border-color: $gray-dark;}
  &:hover .form-c:focus{border-color:$blue-base;}
}

.input-group-addon {
  padding: 5px 10px;
  border: 1px solid $input-border-color;
  border-radius: 5px 0px 0px 5px;
  i {
    line-height: 1;
    color: $gray-dark;
    font-size: 22px;
    vertical-align: middle;
    margin: 0;
  }
}
.input-group-addon.clear-right{border-right:0; }

//--------------------任务详情--------------------------
.task-detail-new-subtask {
  margin: 25px auto;
}

.my-work-task {
  margin-top: 18px;
  margin-bottom: 0px;
  //  border-bottom: 1px dashed $gray-dark;
  i {
    color: $gray-dark;
  }
}

.task-line {
  padding-top: 17px;
  line-height: 1;
  &:last-child {
    padding-bottom: 17px;
  }

}

.task-detail-title {
  display: inline-block;
  width: 29%;
  vertical-align: top;
  color: $gray-darker;
  @extend %ellipsis;
  .default {
    color: $gray-dark;
  }
  .ordinary {
    color: $blue-base;
  }
  .emergency {
    color: $red-base;
  }
}

.task-detail-main {
  @extend %ellipsis;
  display: inline-block;
  vertical-align: middle;
  width: 47%;
}
.task-detail-maintitle {
  @extend %ellipsis;
  display: inline-block;
  vertical-align: middle;
  width: 68%;
}
.task-detail-person{
  display: inline-block;
  vertical-align: middle;
  width: 47%;
}

.task-detail-tips {
  display: inline-block;
  vertical-align:top;
  width: 24%; //后补事件输入框  和任务详情 待办
  text-align: right;
  position:relative;
  i.icon-glyph-142,.icon-glyph-141,.icon-glyph-142{cursor: pointer;}
  .default {
    color: $gray-dark;
  }
  .ordinary {
    color: $blue-base;
  }
  .emergency {
    color: $red-base;
  }
  span {
    display: inline-block;
    margin: 0 10px;
  }
}

.task-detail-checkbox{
  display: inline-block;
}

//子任务group
.subtask-group {
  padding-bottom: 0px;
  border-bottom: 1px dashed $gray-light;
  padding-top: 13px;

  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.subtask-member {
  text-align: right;
}

.subtask-detail {
  width: 74%;
  display: inline-block;
  .subtask-detail-line {
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    i.default {
      color: $gray-dark;
    }
    span.default {
      display: inline-block;
      margin: 0 10px;
    }
    s {
      color: $gray-dark;
    }
  }
}

.subtask-tips {
  i {
    font-size: 20px;
    margin-top: 13px;
    color: $gray-dark;
  }
  i.icon-glyph-142{cursor: pointer;}
}

//-------------------审批详情--------------------
.approve-group {
  padding: 17px 0;
}

.approve-detail {
  width: 88%;
  display: inline-block;
}

.approve-detail-line {
  line-height: 1.2;
  .title {
    font-size: 18px;
  }
  .default {
    color: $gray-dark;
  }
  .default.pull-right{
    font-size: 12px;
  }
  .emergency {
    color: $red-base;
  }
}

.approve-detail-footer-btn {
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-top: 1px solid #e3e7ea;
  width: 100%;
  a {
    width: 21%;
    display: inline-block;
    padding: 8px 0;
    border-right: 1px solid #e3e7ea;
    cursor: pointer;
    &:last-child {
      width: 10%;
      border: none
    }
  }
}

//------------------搜索-----------------
//顶部搜索输入框
.input-search-group {
  display: flex;
  vertical-align: middle;
  margin-bottom: 30px;
  .input-group-addon {
    border-right: 0px;
  }
  input {
    padding-left: 0;
  }
}

.search-box-group {

}

.search-box-group-date {
  background-color: $gray-lighter;
  font-size: 12px;
  color: $gray-dark;
  padding: 0 20px;
  span {
    display: inline-block;
    margin-right: 10px;
  }
}

.search-box-group-wrapper {

}

.search-box-group-detail {
  padding: 10px 15px;
  position: relative;
  border-bottom: 1px dashed $gray-light;

  &:last-child {
    border-bottom: 0;
  }
  .icon-place {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 20px;
  }
  %circle {
    border-radius: 25px;
    line-height: 22px;
    position: absolute;
    padding: 0 4px;
    color: $light-base;
  }
  i.wait {
    @extend %circle;
    background-color: $green-base;
  }

  i.emergency {
    @extend %circle;
    background-color: $red-base;
  }

  i.meeting {
    @extend %circle;
    background-color: $blue-base;
  }

}

.time-detail-line {
  margin-left: 35px;
  .place {
    color: $gray-dark;
    font-size: 12px;
  }
  .time {
    display: inline-block;
    width: 15%;
  }
}

//-----------------新建审批-----------------
.approve-line {
  padding-top: 26px;
  padding-bottom: 0px;
  margin-bottom: -10px;
  &:last-child {
    margin-bottom: 0px;
  }
  &:first-child {
    padding-top: 17px;
  }
}

.approve-line-one{padding: 17px 0;}

.new-approve-importance-title {
  display: inline-block;
  width: 8%;
  vertical-align: top;
  margin-top: 17px;
}

.new-approve-icon-switch {
  margin-top: 14px;
  margin-bottom: 0;

}

//添加附件
.new-approve-attachment-group {
  margin: 5px 0;
  i{font-size: 18px;margin-right: 10px;}
}

//审批类型
.approve-type-checkbox-box {
  display: inline-block;
  width: 33%;
  &:last-child {
    width: 31%;
  }
  input {
    width: 20px !important;
  }
}

.approval-gap {
  padding-bottom: 17px;
}

//--------------新建会议-------------
.new-meeting-place-nav {
  margin-top: 17px;
}

.meeting-room-group {
  padding: 15px 25px;
}

.meeting-room-box {
  width: 21%;
  margin: 0 5px;
  display: inline-block;
  border: 1px solid $gray-light;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 8px;
  //&:first-child{margin-left: 0;}
  //&:last-child{margin-right: 0;}
}

.meeting-room-box.active {
  color: $light-base;
  background-color: $blue-base;
  border: 1px solid $blue-base;
}

.meeting-room-box.inactive {
  color: $gray-dark;
  background-color: $gray-lighter;
  border: 1px solid $gray-lighter;
}

.new-meeting-checked {
  margin-top: 10px;
}

.new-meeting-calendar-time {
  margin-top: -13px;
  margin-bottom: 10px;
}

//新建会议的calendar的上下距离设置

//------------新建会议----------------
.clear-attr {
  margin: 0 !important;
  width: 100% !important;
}

//新建会议标签中的内容（是否放一个组件）begin
.tag-box {
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
}

%tag-item {
  padding: 0 5px;
  margin: 4px 0 4px 4px;
  border-radius: 3px;
  display: inline-block;
  color: $light-base;
  line-height: 30px;
}

.tag-edit {
  @extend %tag-item;
  background-color: $blue-base;
  span {
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
  }
  i {
    margin: 0;
    color: $light-base;
    cursor: pointer;
  }
}

.tag-inactive {
  @extend %tag-item;
  background-color: $gray-dark;
}

//新建会议标签中的内容（是否放一个组件）end
//新建会议地图的样式控制
.new-meeting-map{height: 240px;
& >:nth-child(1){width: 100%;}
}



//-------------------进入任务----------------
.task-enter-line {
  margin-bottom: 10px;
  &:hover .task-line-wrapper{
    h4{
      color: $blue-base;
    }
    h4 ~i{
      opacity: 1;
    }
  }
  .task-line-header {
    display: inline-block;
    width: 60%;
    @extend %ellipsis;

    h4 {
      font-size: 14px;
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      font-weight: 400;
    }
    i {
      color: $gray-dark;
      margin-right: 10px;
      opacity: 0;
      cursor: pointer
    }
    i:hover{color: $blue-base;}

  }

  .task-line-wrapper {
    display: inline-block;
//    &:hover h4 {
//      color: $blue-base;
//    }
//    &:hover h4 ~ i {
//      opacity: 1;
//    }
  }

}

.task-line-detail {
  float: right;
  width: 40%;
  display: inline-block;
  text-align: right;
  i {
    color: $gray-dark;
    margin-right: 10px;
  }
  h4 {
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
  }
}

.task-line-detail-group {
  font-size: 12px;
  margin-left: 20px;
  display: inline-block;
  width: 51px;
  text-align: left;
}
.task-line-detail-person {
  font-size: 12px;
  margin-left: 20px;
  display: inline-block;
  width: 31px;
}

//-----------------任务首页---------------
.calendar-title-detail {
  .title {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-right: 15px;
  }
  i.icon-glyph-142, i.icon-glyph-115 {
    color: $gray-dark;
    font-size: 25px;
    line-height: 1.6;
    cursor: pointer;
  }
//  .btn {
//    color: $gray-base;
//    &:hover {
//      background-color: $light-base;
//      border-color: $gray-base;
//    }
//  }
}

.task-area {
  background: #fff;
  //  overflow: hidden;
  position: relative;
  border-right: 1px solid $gray-light;
  width: 290px;
  float: left;
  .task-area-wrapper {
    padding: 20px;
  }
  .task-area-header {
    position: relative;
    padding: 8px 20px;
    border-bottom: 1px solid $gray-light;
    background-color: $gray-lighter;
    i {
      font-size: 25px;
      color: $gray-dark;
      vertical-align: middle;
      cursor: pointer;
    }
    i.icon-glyph-166 {
      &:hover ~.hidden {
        opacity: 1;
      }
    }
  }
  .task-finish-header {
    background-color: $gray-light;
  }
}

.task-box {
  border: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 13px;
  box-sizing: border-box;
  line-height: 1;
  border-radius: 5px;
  cursor: pointer;
  min-height: 62px;
  i {
    color: $gray-dark;
    font-size: 14px;
  }
  s {
    color: $gray-dark;
  }
  .important {
    color: $red-base !important;
  }
}

.task-box-innerbox {
  padding: 10px 10px 4px 10px;
}
.task-box.important-line .task-box-innerbox {
  margin-left: -4px;
}
.task-box.emergency-line .task-box-innerbox {
  margin-left: -4px;
}

.subtask-box-line {
  font-size: 12px;
  padding: 4px 10px 4px 25px;
  border-top: 1px dashed $gray-light;
  line-height: 1.8;
  .avator {
    padding: 0 5px;
    img {
      width: 20px;
      height: 20px;
      border-radius: 3px;
    }
  }
  span {
    vertical-align: sub;

  }
  span.pull-right {
    color: $gray-dark;
  }
  .subtask-item-detail{
    width: 59%;
    float: left;
    @extend %ellipsis;
  }
}


.height-text{line-height: 2.8;}
//地图高度
.map-height{
  height: 300px;}

.newmeeting-calendar-week th{
  &:before{
    content:'';

  }
}


//任务消息
.footer-attend-task{
  margin-bottom: 10px;
  cursor: pointer;
  color: $gray-darker;
&:hover span{
color: $blue-base;
}
}


.approval-title-gap{padding-bottom: 0;margin-bottom: -15px}

//新建审批的添加附件
.approval-add-affix{
  cursor: pointer;
  &:hover i{color: $blue-base;}
  &:hover span{color: $blue-base;}
}
.emergency-switch.icon-toggle-off{
  color: $gray-dark;
}
.emergency-switch.icon-toggle-on{
  color: $red-base !important;
}

.text-middle{font-size: 14px !important;}