img.emoji,.chat-send-content img{
  width: 20px;
  height: 20px;
}

.chat-face-panel {
  position: absolute;
  bottom: 144%;
  left: 3%;
  width: 94%;
  height: 170px;
  border: 1px solid $gray-light;
  background: $light-base;

  &:before {
    content: '';
    position: absolute;
    bottom: -4%;
    left: 6px;
    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    padding: 5px;
    transform: rotate(45deg);
    background-color:  $light-base;
  }

  .chat-face-header-item {
    cursor: pointer;
    margin: 7px;
    padding: 3px 3px 0 3px;
    display: inline-block;

    &.active {
      border-bottom: 2px solid $blue-base;
    }
  }

  .chat-face-body-item {
    span {
      float: left;
      cursor: pointer;
      margin: 2px 0 0 10px;
    }
  }
}
