//下拉事件、会议

.dropdown{
  display:inline-block;
  position:relative;
}



.dropdown-list{
  font-size: $font-size-small;
  z-index:$z-index-base;
  border-radius: 3px;
  box-shadow:0 0 10px $gray-dark;
  position: absolute;
  background:$light-base;
  text-align:center;
  white-space: nowrap;
  left: 50%;
  transform:translateX(-50%);

  &.right{
    transform:translateX(-80%);
  }
//  &:before{
//    content: '';
//    width: 12px;
//    height: 12px;
//    background-color: #fff;
//    position: absolute;
//    box-shadow: 2px 2px 3px $gray-light;
//    transform: rotate(-136deg);
//
//    left: 35px;
//    top: -4px;
//    background: $light-base;
//    z-index: 5;
//  }

  .partingLine{border-bottom: 1px solid $gray-light!important;}
  .dropdown-item{
    padding:8px 20px;
    border-bottom:1px solid $gray-light;
    span{cursor:pointer}
    &:last-child{border: none;}
    i{margin-right: 7px;color: $gray-dark;}
    %circle{
      width: 7px;
      height: 7px;
      margin-left: 2px;
      margin-right: 2px;
      display: inline-block;
      padding: 0;
    }
    .circle-event{
      @extend %circle-tip;
      @extend %circle;
      background-color: $green-base;

    }
    .circle-meeting{
      @extend %circle-tip;
      @extend %circle;
      background-color: $blue-base;
    }
  }
}


.dropdown-list-black{
  @extend .dropdown-list;
  background-color: $gray-base;
  span{color: $light-base}

}



.dropdown-list.bottom{
  &:before{
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  box-shadow: 2px 2px 3px #bec6d3;
  transform: rotate(-314deg);
//    width:calc((100% - 80px - 220px)/2);
 left:calc(50% - 6px);
//    left: calc(50% - 6px);
  bottom: -5px;
  background: #fff;
  z-index: 5;
}
}

.dropdown-list.top-right{
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    box-shadow: 2px 2px 3px #bec6d3;
    transform: rotate(224deg);
    left: calc(100% - 30px);
    top: -5px;
    background: #fff;
    z-index: 5;
  }
}

.dropdown-list-black.bottom{
  @extend .dropdown-list.bottom;
  &:before{background-color: $gray-base;}
}
.dropdown-list-black.hidden{opacity: 0;}

.dropdown-list.bottom-right{
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    box-shadow: 2px 2px 3px #bec6d3;
    transform: rotate(-314deg);
    left: 50px;
    bottom: -5px;
    background: #fff;
    z-index: 5;
  }
}

.dropdown-list.top{
  &:before{
        content: '';
        width: 12px;
        height: 12px;
        background-color: #fff;
        position: absolute;
        box-shadow: 2px 2px 3px $gray-light;
        transform: rotate(-136deg);
        left:calc(50% - 6px);
        top: -4px;
        background: $light-base;
        z-index: 5;
  }
}