.sub-panel{
  background: $gray-lighter;
  margin-left:$global-panel-width-base;
  @include panel($sub-panel-width-base);
  float:left;
  @media (min-width:$media-middle-width){
    margin-left:$global-panel-width;
    width:$sub-panel-width;
  }
}


// .sub-panel-header
.sub-panel-header{
  padding:21px 20px 15px 20px;
  border-bottom:1px solid $gray-light;

  .btn-add{
    color:$gray-base;
  }
}