// work-searck

.thread-list{
  padding:0;
}

.thread-item{
  @extend %thread-item;
  padding:9px 20px 8px;
  display:block;
  margin-top:-1px;
  border-top:1px solid $gray-lighter;
  border-bottom:1px solid $gray-lighter;
  position:relative;
  &:hover, &.active{
    background: $light-base;
    border-color:$gray-light;
    z-index:2;
  }

  &:first-child{
    border-top:none;
    margin-top:0px;
  }
}

.thread-item-avator{
  //@extend %avator;


  .circle-tip{
    position:absolute;
    right:-3px;
    top:-3px;
  }
}

.thread-item-info{
  @extend %thread-item-info;
}


.thread-item-func{
  @extend %thread-item-func;
//  letter-spacing: 2px;
}