// global extend

%ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

%circle{
  border-radius:50%;
  text-align:center;
}

//circle tip
%circle-tip{
  padding:0 $circle-tip-width-base/4;
  color: $light-base;
  background:$red-base;
  border-radius:$circle-tip-width-base/2;
  line-height:$circle-tip-width-base;
  //@include circle($circle-tip-width-base, $light-base, $red-base);
}

.circle-tip{
  @extend %circle-tip
}

// used on .chat-area and .calendar-area
%area{
  background: $light-base;
  overflow:hidden;
  position:relative;
  @include panel(null);
  min-width:$chat-area-width;
}

// avator used on .thread-item-avator and .calendar-avator
%avator{
  float:left;
  margin-right:8px;
  position:relative;
  img{
    border-radius:$border-radius-small;
    vertical-align:middle;
  }
}
.avator{
  @extend %avator;
}
// used on .calendar-action-search and .approval-search
%icon-search{
  font-size:24px;
  vertical-align:middle;
  cursor:pointer;
}

%detail-area-title{
  padding: 23px 0 22px;
  border-bottom: 1px solid $gray-light;
}
%half-detail-area{
  width:calc((100% - 80px - 220px)/2);
  @media (min-width:$media-middle-width){
    width:calc((100% - 100px - 300px)/2);
  }
}
%right-detail-area{
  width:calc((100% - 80px - 225px)/2);
  @media (min-width:$media-middle-width){
    width:calc((100% - 100px - 305px)/2);
  }
}

// used on .thread-item and approval-item
%thread-item{
  overflow:hidden;
  cursor:pointer;
}

%thread-item-info{
  overflow:hidden;

  h3{
    margin:8px 0 0 5px;
  }
  h4{
    @extend %ellipsis;
    width:100%;
    font-size:14px;
    font-weight:400;
  }

  p{  //这里在聊天部分和审批列表部分有引用
    font-size:12px;
    @extend %ellipsis;
    width:100%;
    color:$gray-darker;
    margin-top:3px;
  }
  span{font-size: 12px; margin-right: 5px;}
  span.important{color: $red-base;}
  i{color: $gray-dark;font-size: 14px;}
}

%thread-item-func{
  float:right;
  font-size: $font-size-small;
  color: $gray-dark;
  text-align: right;//??
  span{
//    margin-left: 5px;
    font-size: 12px;
  }
  i{
    margin-left: 8px;
  }
  .tip{
    text-align:right;
  }
  .event{color: $blue-base;}
  %mark{
    display: inline-block;
    padding: 0 10px;
    color: $light-base;
    background-color: $green-base;
    border-radius: 3px;
    margin-left: 10px;
    width: 36px;
    text-align: center;
  }
  .approval{
    @extend %mark;
    background-color: $green-base;
  }
  .proceed{
    @extend %mark;
    background-color: $blue-base;
  }
  .return{
    @extend %mark;
    background-color: $orange-base;
  }
  .reject{
    @extend %mark;
    background-color: $red-base;
  }
  .wait{
    @extend %mark;
    background-color: $gray-dark;
  }
  .important{color: $red-base;}
}

.approval-item-func-line{span{font-size: 14px;margin-left: 8px;} }

.approval-event-item{
  position: relative;
  border-bottom: 1px dashed $gray-dark;
  padding: 10px 0;
  &:last-child{
    border-bottom: 0;
  }
}